html {
    background-image: url("Imagen/Fondo3.png");
    background-repeat: no-repeat;
       }
h1{
    color:white ;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}
p {
    color:white ;
    font-size: 20px;
    text-align: center;
    font-style: 
}